<a href="https://colab.research.google.com/github/VasaviLagishetty/COVID19/blob/master/COVID19.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import plotly.graph_objects as go
from plotly.subplots import make_subplots
import pandas as pd
import requests
from datetime import datetime

In [2]:
raw= requests.get("https://services1.arcgis.com/0MSEUqKaxRlEPj5g/arcgis/rest/services/Coronavirus_2019_nCoV_Cases/FeatureServer/1/query?where=1%3D1&outFields=*&outSR=4326&f=json")
raw_json = raw.json()
df = pd.DataFrame(raw_json["features"])
df

                                            attributes                                           geometry
0    {'OBJECTID': 1, 'Province_State': 'Alberta', '...  {'x': -116.57649999999995, 'y': 53.93330000000...
1    {'OBJECTID': 2, 'Province_State': 'Anguilla', ...  {'x': -63.06859999999995, 'y': 18.220600000000...
2    {'OBJECTID': 3, 'Province_State': 'Anhui', 'Co...            {'x': 117.2264, 'y': 31.82570000000004}
3    {'OBJECTID': 4, 'Province_State': 'Aruba', 'Co...  {'x': -69.96829999999994, 'y': 12.521100000000...
4    {'OBJECTID': 5, 'Province_State': 'Australian ...  {'x': 149.01240000000007, 'y': -35.47349999999...
..                                                 ...                                                ...
320  {'OBJECTID': 321, 'Province_State': 'Ohio', 'C...  {'x': -82.76491499999997, 'y': 40.388783000000...
321  {'OBJECTID': 322, 'Province_State': 'Alabama',...  {'x': -86.90229999999997, 'y': 32.31820000000005}
322  {'OBJECTID': 323, 'Province_State': 'North Car...  {'x': -79.80641899999995, 'y': 35.630066000000...
323  {'OBJECTID': 324, 'Province_State': 'District ...  {'x': -77.02681699999994, 'y': 38.89743800000008}
324  {'OBJECTID': 325, 'Province_State': 'Maine', '...  {'x': -69.38192699999996, 'y': 44.69394700000004}

[325 rows x 2 columns]

In [3]:
df["attributes"][0]

{'Confirmed': 5766,
 'Country_Region': 'Canada',
 'Deaths': 95,
 'Last_Update': 1588599159000,
 'Lat': 53.9333,
 'Long_': -116.5765,
 'OBJECTID': 1,
 'Province_State': 'Alberta',
 'Recovered': 0}

In [4]:
df['geometry'][0]

{'x': -116.57649999999995, 'y': 53.93330000000003}

In [5]:
data_list = df["attributes"].tolist()
data = pd.DataFrame(data_list)
data = data.set_index("OBJECTID")
data = data.reset_index(drop = True)
data

                   Province_State  Country_Region  ...  Recovered  Deaths
0                         Alberta          Canada  ...          0      95
1                        Anguilla  United Kingdom  ...          3       0
2                           Anhui           China  ...        985       6
3                           Aruba     Netherlands  ...         81       2
4    Australian Capital Territory       Australia  ...        103       3
..                            ...             ...  ...        ...     ...
320                          Ohio              US  ...          0    1039
321                       Alabama              US  ...          0     290
322                North Carolina              US  ...          0     435
323          District of Columbia              US  ...          0     251
324                         Maine              US  ...          0      57

[325 rows x 8 columns]

In [6]:
bool_series = pd.isnull(data['Last_Update']) 
data[bool_series]

                   Province_State Country_Region  ...  Recovered  Deaths
279                American Samoa             US  ...          0       0
290  United States Virgin Islands             US  ...          0       0

[2 rows x 8 columns]

In [7]:
data = data[data['Last_Update'].notna()]
data["Province_State"].fillna(value="", inplace=True)

data

/usr/local/lib/python3.6/dist-packages/pandas/core/generic.py:6245: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                   Province_State  Country_Region  ...  Recovered  Deaths
0                         Alberta          Canada  ...          0      95
1                        Anguilla  United Kingdom  ...          3       0
2                           Anhui           China  ...        985       6
3                           Aruba     Netherlands  ...         81       2
4    Australian Capital Territory       Australia  ...        103       3
..                            ...             ...  ...        ...     ...
320                          Ohio              US  ...          0    1039
321                       Alabama              US  ...          0     290
322                North Carolina              US  ...          0     435
323          District of Columbia              US  ...          0     251
324                         Maine              US  ...          0      57

[323 rows x 8 columns]

In [8]:
def convertTime(t):
  t = int(t)
  return datetime.fromtimestamp(t)

data['Last_Update'] = data['Last_Update']/1000
data['Last_Update'] = data['Last_Update'].apply(convertTime)
data

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                   Province_State  Country_Region  ... Recovered  Deaths
0                         Alberta          Canada  ...         0      95
1                        Anguilla  United Kingdom  ...         3       0
2                           Anhui           China  ...       985       6
3                           Aruba     Netherlands  ...        81       2
4    Australian Capital Territory       Australia  ...       103       3
..                            ...             ...  ...       ...     ...
320                          Ohio              US  ...         0    1039
321                       Alabama              US  ...         0     290
322                North Carolina              US  ...         0     435
323          District of Columbia              US  ...         0     251
324                         Maine              US  ...         0      57

[323 rows x 8 columns]

In [0]:
df_total = data.groupby('Country_Region',as_index=False).agg({'Confirmed' : 'sum','Recovered' : 'sum','Deaths' : 'sum'})

In [10]:
df_total

         Country_Region  Confirmed  Recovered  Deaths
0           Afghanistan       2894        397      90
1               Albania        803        543      31
2               Algeria       4474       1936     463
3               Andorra        748        493      45
4                Angola         35         11       2
..                  ...        ...        ...     ...
182  West Bank and Gaza        353         77       2
183      Western Sahara          6          5       0
184               Yemen         10          1       2
185              Zambia        137         78       3
186            Zimbabwe         34          5       4

[187 rows x 4 columns]

In [11]:
total_confirmed = data['Confirmed'].sum()
total_recovered = data['Recovered'].sum()
total_deaths = data['Deaths'].sum()
print("Total confirmed cases till",data['Last_Update'][0],"are",total_confirmed)
print("Total recovered cases till",data['Last_Update'][0],"are",total_recovered)
print("Total death cases till",data['Last_Update'][0],"are",total_deaths)

Total confirmed cases till 2020-05-04 13:32:39 are 3529408
Total recovered cases till 2020-05-04 13:32:39 are 1133538
Total death cases till 2020-05-04 13:32:39 are 248025